body { 
    /* background-color: rgb(40, 100, 104); */
    background-color: rgb(150, 72, 72);
    color: whitesmoke;
    text-align: center;
}

img { 
    border-radius: 15px;
    width: 70%;
}